cffi==1.14.0
click==7.1.2
Cython==0.29.21
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mecab-python3==0.996.5
numpy==1.19.0
Pillow==7.2.0
portalocker==1.7.0
pycparser==2.20
regex==2020.6.8
sacrebleu==1.4.12
six==1.15.0
subword-nmt==0.3.7
tqdm==4.47.0
uWSGI==2.0.19.1
Werkzeug==1.0.1
